{% extends "layout.html" %}
{% block content %}
    <div id="wrapper">
        <!-- Intro -->
        <section id="intro" class="wrapper style1 fullscreen fade-up">
            <section id="spinner">
                <div class="spinner-grow" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <br/>
                <sup>This may take a while...</sup>
            </section>
            <div class="inner">
                <!-- Search -->
                <section id="search" class="alt">
                        <h4>wordle-help</h4>
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <fieldset>
                                <div class="row gtr-uniform">
                                    <div class="col-3 col-12-small">
                                        Enter letters to include
                                        {{ form.contains }}
                                    </div>
<!--                                </div>-->
<!--                                <div class="row gtr-uniform">-->
                                    <div class="col-3 col-12-small">
                                        Enter letters to exclude
                                        {{ form.excludes }}
                                    </div>
                                </div>
                                <div class="row gtr-uniform">
                                    <div class="col-3 col-12-small">
                                        Enter known position of Letters
                                        {{ form.known_position }}
                                    </div>
<!--                                </div>-->
<!--                                <div class="row gtr-uniform">-->
                                    <div class="col-3 col-12-small">
                                        Enter known letter wrong positions
                                        {{ form.wrong_position }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="submit" class="col-sm-11">
                                    {{ form.submit }}
                                    </div>
                                </div>
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        {% for category, message in messages %}
                                            <div class="alert alert-{{ category }}">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith%}
                            </fieldset>
                        </form>
                </section>
            </div>
        </section>

    </div>
{% endblock content %}